#success_message{

  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px;
}
#fail_message{

  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#imgsize{
  max-width: 150px !important;
  max-height: 150px !important;
}
